
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>QUI EST CE?</title>
     
        <link 
            rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    </head>
    <body>
        <div id="home_page"></div>
            <header class="site-header">
              <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                  <a class="navbar-brand mr-4" href="/">QUI EST CE</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                              
                {% if 'username' in session %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}"
                    >Logout</a
                >
                <a class="nav-item nav-link" href="{{ url_for('highscores') }}"
                >highscores</a
                >
                
                <a class="nav-item nav-link" href="{{ url_for('account') }}"
                    >Profil du joueur</a
                >
                
                <a
                    class="nav-item nav-link"
                    href="{{ url_for('nouvellepartie') }}"
                    >Nouvelle Partie</a
                >
                <a
                    class="nav-item nav-link"
                    href="{{ url_for('replayPartie') }}"
                    >replay Partie</a
                >
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('register') }}"
                        >Register</a
                    >
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>

                    {% endif %}

                 </div>
                </div>
          </div>
        </nav>
      </header>
		<main class="container"> 
            {% if 'username' not in session %}
            <h2> BIENVENUE ! </h2>
			<p center>connectez-vous pour démarrer le jeu  </p>
            {% endif %}
			<div class="row">
		        <div class="col-md-8">
		          {% with messages = get_flashed_messages(with_categories=true) %}
		            {% if messages %}
		              {% for category, message in messages %}
		                <div class="alert alert-{{ category }}">
		                  {{ message }}
		                </div>
		              {% endfor %}
		            {% endif %}
		          {% endwith %}
		          {% block content %}{% endblock %}
		        </div>
		    </div>
		</main>
		<footer>
            <p>Projet site web</p>	
		</footer>
    </body>
</html>
