
{% extends "Firstpage.html" %}
{% block content %}
    <style>
        table,th,td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <h3>
       Tableau des highscores par niveau 
    </h3>
    <table style="width: 100%;">
        <tr><th>Pseudo</th><th>Niveau 1</th></tr>
        {{high_score_by_lvl1}}
    
        <tr><th>Pseudo</th><th>Niveau 2</th></tr>
        {{high_score_by_lvl2}}
    </table>
    <h4>
        Tableau des highscores pour aujourd'hui
    </h4>
    <table style="width: 100%;">
        <tr><th>Pseudo</th><th>score</th></tr>
        {{high_score_by_today}}
    </table>
<br/>


{% endblock content%}